<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- <app-registration></app-registration> -->
  
 </div>
 
<!-- <app-structuraltest>
  
  </app-structuraltest> -->
  <a class="button" routerLink="/departments">Department View</a>
  <a class="button" routerLink="/employees">Employee List View</a>
  <a class="button" routerLink="/employeedetails">Employee Details View</a>
  <router-outlet></router-outlet>
<!-- <empolyee-list></empolyee-list>
<empolyee-details></empolyee-details> -->