/* You can add global styles to this file, and also import other style files */

.button {
 	background-color: DodgerBlue; /* Green */
    border: 1px solid grey;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}